body{
    margin:0;
    padding:0;
    background:url(img/bg.png);
    background-position:center;
    background-repeat:repeat;
    background-size:auto;
}
.burger{
    display:none;
}
#navbar{
    background-color:aqua;
    margin:0;
    padding:10px;
}
#navbar a{
    text-decoration:none;
    font-size:20px;
    margin:100px;
}
#navbar a:hover{
    background-color:#ffffff;
    color:#000000;
    border-radius:999px;
    width:fit-content;
    padding:5px;
}
#home .profile{
    background-color:#808080b6;
    margin:25px;
    padding:15px;
    display:flex;
}
.profile img{
    height:250px;
}
.profile table{
    margin:50px;
    font-size:20px;;
}
#journey{
    margin:20px;
}
#journey h1{
    text-align:center;
}
#journey img{
    height:300px;
}
#journey video{
    height:300px;
}
#show{
    background-color:rgba(81, 76, 76, 0.750);
    margin:50px;
}
#show h1{
    text-align:center;
    color:#ffffff
}
#show h2{
    color:#ffffff;
}
#show ul{
    font-weight:lighter;
    margin:10px
}
@media only screen and (max-width: 600px) {
    #navbar{
        width:100%;
        display:grid;
        grid-template-columns:repeat(2,50%);
        margin:0;
        padding:3px;
    }
    #navbar a{
        margin:10px;
        font-size:15px;
        color:blue;
    }
    #navbar a:hover{
        padding:1.5px;
    }
    .profile img{
        height:100px;
    }
    .profile table{
        margin:auto;
        font-size:60%;
    }
    #journey h1{
        font-size:15px;
    }
    #journey h2{
        font-size:10px;
    }
    #journey img,#journey video{
        height:150px;
    }
    #show h1{
        font-size:20px;
    }
    #show h2{
        font-size:15px;
    }
}
  